<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="PID" source="spring.application.pid" defaultValue="????"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %highlight(%-5level) %magenta(${PID}) --- [%thread] [%X{TID}] %logger{36} : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.carrotmarket" level="INFO"/>
    <logger name="org.hibernate.SQL" level="DEBUG"/>
    <logger name="org.hibernate.type.descriptor.sql" level="DEBUG"/>

    <!-- Kafka 설정 로그 숨기기 -->
    <logger name="org.apache.kafka.common.config.AbstractConfig" level="WARN"/>
    <logger name="org.apache.kafka.clients.producer.ProducerConfig" level="WARN"/>
</configuration>